body{
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  color: #000;
}

.theTable {
  display: flex;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-spacing: 0;
  border: 1px solid #ddd;
}

.theTable th {
  background-color: #efefff;
  padding: 10px;
  border: 1px solid #ddd;
}

.theTable td {
  background-color: #f4f4f4;
  padding: 10px;
  border: 1px solid #ddd;
}
